@charset "utf-8";
/* CSS Document */

html{
	background-color: #E9E9E9;
	height: 100%;
	width: 100%;
}

body{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

img{
	width: 100%;
}